<div class="flex w-full gap-3">
  <div class="flex flex-col w-1/2">
    <div class="w-full rounded-lg bg-slate-100 aspect-square">
      <img
        src="https://cdn.dribbble.com/userupload/3772719/file/original-2f363e794994e437d61bd6ff4a31b107.png?compress=1&resize=3601x2701"
        alt="product"
        class="object-cover max-h-full"
      />
    </div>
  </div>
  <div class="flex w-1/2 flex-col gap-y-7">
    <div class="flex flex-col gapy-4">
      <h1 class="text-xl font-semibold">Airpods- Max</h1>
      <span class="text-sm"
        >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, non
        voluptate. Magnam aut atque tenetur tempore ipsam esse temporibus
        explicabo aspernatur modi? Reiciendis nesciunt ipsum ipsam! Eius ipsam
        eveniet rerum!</span
      >
    </div>
    <div class="flex flex-col gapy-4">
      <h1 class="text-xl font-semibold">Airpods- Max</h1>
      <span class="text-sm"
        >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, non
        voluptate.</span
      >
    </div>
  </div>
</div>
