<div class="flex w-full gap-3 md:flex-row flex-col">
  <div class="flex flex-col md:w-1/2">
    <div class="w-full max-h-[500px] rounded-lg bg-stone-100 aspect-square">
      <img
        src="https://cdn.dribbble.com/userupload/3772719/file/original-2f363e794994e437d61bd6ff4a31b107.png?compress=1&resize=3601x2701"
        alt="product"
        class="object-cover max-h-full"
      />
    </div>
    <div class="flex mt-7 w-full gap-x-3">
      <div
        *ngFor="let photo of photos"
        class="cursor-pointer border-2 overflow-hidden aspect-video h-[100px] rounded-lg bg-slate-200"
      >
        <img
          src="https://cdn.dribbble.com/userupload/3772719/file/original-2f363e794994e437d61bd6ff4a31b107.png?compress=1&resize=3601x2701"
          alt="product"
          class="object-cover max-h-full w-full"
        />
      </div>
    </div>
  </div>
  <div class="flex md:w-1/2 flex-col gap-y-7 px-6">
    <div class="flex flex-col gap-y-4">
      <h1 class="text-2xl font-semibold">Airpods- Max</h1>
      <span class="">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, non
        voluptate. Magnam aut atque tenetur tempore ipsam esse temporibus
        explicabo aspernatur modi? Reiciendis nesciunt ipsum ipsam! Eius ipsam
        eveniet rerum!
      </span>
      <div class="flex items-center gap-x-1">
        <i class="material-icons text-green-500">star</i>
        <i class="material-icons text-green-500">star</i>
        <i class="material-icons text-green-500">star</i>
        <i class="material-icons text-green-500">star</i>
        <i class="material-icons text-green-500">star</i>
      </div>
    </div>
    <div class="flex flex-col gap-y-4">
      <h1 class="text-2xl font-semibold">Airpods- Max</h1>
      <span class=""
        >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, non
        voluptate.</span
      >
    </div>
    <div class="flex items-center gap-x-4">
      <div
        class="flex gap-x-2 items-center bg-slate-300 rounded-3xl text-green-800 overflow-hidden"
      >
        <button class="text-slate-700 text-4xl px-4 py-1 rounded-full">
          -
        </button>
        <span>1</span>
        <button class="text-green-700 text-2xl px-4 py-1 rounded-full">
          +
        </button>
      </div>
      <div class="flex flex-col text-sm">
        <span>Only 12 items Left</span>
        <span>Don't miss it</span>
      </div>
    </div>
    <div class="flex items-center gap-x-4">
      <a routerLink="/order/checkout"
        class="flex border-2 border-green-950 items-center w-full justify-center text-white rounded-3xl bg-green-950 p-3"
      >
        Buy Now
      </a>
      <button
        class="flex border-2 border-green-950 items-center w-full justify-center rounded-3xl p-3"
      >
        Add to Cart
      </button>
    </div>
    <div class="flex gap-x-3">
      <i class="material-icons">train</i>
      <div class="flex flex-col text-sm">
        <p class=" font-semibold">Free Delivery</p>
        <span>We deliver the product exactly where you are</span>
      </div>
    </div>
    <div class="flex gap-x-3">
      <i class="material-icons">train</i>
      <div class="flex flex-col text-sm">
        <p class=" font-semibold">Return Delivery</p>
        <span>We deliver the product exactly where you are</span>
      </div>
    </div>
  </div>
</div>
