<div
  class="flex gap-y-2 mx-auto flex-col rounded-lg shadow-sm w-full max-w-[400px]"
>
  <div class="relative w-full rounded-lg overflow-hidden p-1 bg-stone-100">
    <a [routerLink]="'/product/' + product?.id">
      <img
        [src]="
          product?.image ??
          'https://cdn.dribbble.com/userupload/3772719/file/original-2f363e794994e437d61bd6ff4a31b107.png?compress=1&resize=3601x2701'
        "
        alt="product"
        class="object-cover w-full max-h-full"
      />
    </a>
    <i
      class="material-icons bg-white rounded-full w-8 aspect-square flex items-center justify-center absolute top-2 right-2 text-2xl cursor-pointer"
      [ngClass]="{ 'text-red-600': isOnFav }"
      (click)="handleFavClick()"
      >{{ isOnFav ? "favorite" : "favorite_border" }}</i
    >
  </div>
  <a class="flex flex-col gap-y-2" [routerLink]="'/product/' + product?.id">
    <div class="flex w-full text-lg font-semibold justify-between items-center">
      <h1 class="text-sm hover:text-green-500">{{ product?.title }}</h1>
      <span class="">{{ product?.price }}</span>
    </div>
    <div class="flex items-center gap-x-1">
      <i class="material-icons text-green-500">star</i>
      <i class="material-icons text-green-500">star</i>
      <i class="material-icons text-green-500">star</i>
      <i class="material-icons text-green-500">star</i>
      <i class="material-icons text-green-500">star</i>
    </div>
  </a>
  <button
    (click)="handleCartClick()"
    class="hover:bg-green-900 flex items-center hover:text-white w-fit duration-150 rounded-3xl px-4 border-2 border-green-900 py-2"
  >
    <i *ngIf="isOnCart" class="material-icons">check</i>
    {{ isOnCart ? "OnCart" : "Add to cart" }}
  </button>
</div>
